[
    [
        ["mul", "add", "or", "and", "xor", "gt", "geq", "lt", "leq"], "[(map type ['*' 'numeric'])]"
    ],
    [
        ["noop", "list", "eq", "neq"], "[(map type ['*'])]"
    ],
    [
        ["typeof", "symbol", "repr", "put", "help"], "[(map type ['any'])]"
    ],
    [
        ["len" , "eval"], "[(map type ['list'])]"
    ],
    [
        ["type", "resolve"], "[(map type ['string'])]"
    ],
    [
        ["join"], "[(map type ['*' 'list'])]"
    ],
    [
        # One numeric argument
        ["neg", "flip"], "[(map type ['numeric'])]"
    ],
    [
        # Two numeric arguments
        ["mod", "sub", "div"], "[(map type ['numeric']) (map type ['numeric'])]"
    ],
    [
        ["range"], "[(map type ['numeric' '?']) (map type ['numeric' '?']) (map type ['numeric' '?' 'truthy'])]"
    ],
    [
        ["insert"], "[(map type ['list']) (map type ['numeric']) (map type ['any'])]"
    ],
    [
        ["assert"], "[(map type ['booly']) (map type ['string' '?'])]"
    ],
    [
        ["bool"], "[(map type ['booly'])]"
    ],
    [
        ["slice"], "[(map type ['list']) (map type ['numeric']) (map type ['numeric' '?']) (map type ['numeric' '?' 'truthy'])]"
    ],
    [
        ["repeat"], "[(map type ['numeric']) (map type ['any'])]"
    ],
    [
        ["get"], "[(map type ['numeric']) (map type ['list'])]"
    ],
    [
        ["typematch"], "[(map type ['list']) (map type ['list'])]"
    ],
    [
        ["map"], "[(map type ['builtin']) (map type ['list' '*'])]"
    ],
    [
        ["fold"], "[(map type ['builtin']) (map type ['any']) (map type ['list'])]"
    ],
    [
        ["ternary"], "[(map type ['booly']) (map type ['any']) (map type ['any'])]"
    ],
    [
        ["let"], "[(map type ['string']) (map type ['any'])]"
    ],
    [
        ["call"], "[(map type ['expression']) (map type ['any' '*'])]"
    ]
]
